{% extends 'base.html.twig' %}

{% block title %}Create New Task{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="card">
            <div class="card-header">
                <h1 class="h3 mb-0">Create a New Task</h1>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <h4>Task Details</h4>
                        <hr>
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.priority) }}
                    </div>

                    <div class="col-md-6">
                        <h4>Management</h4>
                        <hr>
                        {{ form_row(form.assignedTo) }}
                        {{ form_row(form.dueDate) }}
                        {{ form_row(form.completedAt) }}
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    <a href="{{ path('dashboard') }}" class="btn btn-secondary">
                        Cancel
                    </a>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
