<h2>TASK COMPLETED</h2>
<p>{{ user.firstName }} {{ user.lastName }} have completed the task named <strong>{{ task.title }}</strong></p>
<p><strong>Completed Date:</strong> {{ task.completedAt|date('d-m-Y') }}</p>
<p><strong>Completed by:</strong> {{ completedBy.firstName }} {{ completedBy.lastName }}</p>

<a href="{{ url('task_show',{id: task.id}) }}">Click here to see the details</a>

